.freeAccountContainer {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 280px;
  z-index: 10;

  box-shadow: 0px 3px 6px #8bbeffc7;
  border: 1px solid #a2bdd2;
  border-radius: 12px;
  border-top: none;
  max-height: 70px;
  background-color: #ffffff;
  transition: max-height 1s;
}

.activeFreeAccount {
  max-height: 500px;
  transition: max-height 1s;
}

.freeAccount {
  box-shadow: 0px 2px 2px #00000029;
  border: 1px solid #a2bdd2;
  border-radius: 12px;
  background-color: #f5f8ff;
  padding: 13px;
}

.freeAccountHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.freeAccountTitle {
  letter-spacing: 0px;
  color: #113e92;
  font-size: 18px;
  font-weight: 500;
}

.freeAccountProgress {
  width: 100%;
  height: 10px;
  background-color: #ffffff;
  border: 1px solid #94c1fb;
  border-radius: 18px;
  margin-top: 9px;
  position: relative;
}

.freeAccountProgressInside {
  position: absolute;
  border-radius: 18px;
  height: 100%;
  left: 0;
  background-color: #3e92ff;
}

.freeAccountContent {
  padding: 13px;
}

.freeAccountContentHide {
  opacity: 0;
  padding: 13px;
  transition: all 1s;
}

.freeAccountContentItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.freeAccountContentItemChromeStore {
  display: flex;
  align-items: center;
  justify-content: center;
}

.freeAccountContentItemChromeStoreContainer {
  border: 1px solid #a2bdd2;
  border-radius: 6px;
  background-color: #ffffff;
  padding: 9px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.freeAccountContentItemChromeStoreText {
  letter-spacing: 0px;
  color: #3e92ff;
  font-size: 18px;
  font-weight: 400;
}

.freeAccountContentItemChromeStoreIcon {
  margin-left: 10px;
}

.freeAccountContentItemIcon {
  border: 2px solid #a2bdd2;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.freeAccountContentItemIconActive {
  width: 22px;
  height: 22px;
  background-color: #3e92ff;
  border-radius: 50%;
  margin-right: 10px;
}

.freeAccountContentItemText {
  letter-spacing: 0px;
  color: #113e92;
  font-size: 17px;
  font-weight: 400;
}

.popup {
  position: fixed;
  bottom: -50%;
  left: 50%;
  width: 280px;
  z-index: 10;
  transform: translate(-50%);

  box-shadow: 0px 6px 4px #77b2ffbd;
  border: 1px solid #113e92;
  border-radius: 12px;
  background-color: #fcfdff;
  transition: all 1s;
  width: 900px;
}

.popupActive {
  bottom: 10px;
  transition: all 1s;
}

.popupHeader {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  border-bottom: 1px solid #a2bdd2;
}

.popupHeaderItem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 15px 0 10px;
  cursor: pointer;
}

.popupHeaderItemActive {
  border-bottom: 3px solid #3e92ff;
}

.popupHeaderArrow {
  position: absolute;
  top: 26px;
  right: 26px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.popupHeaderArrowImg {
  width: 20px;
}

.popupHeaderIMG {
  width: 30px;
  height: 30px;
}

.popupContent {
  display: flex;
  padding: 20px 22px;
  gap: 25px;
}

.popupAssistantItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0px 6px 6px #d5e7ff;
  border: 1px solid #a2bdd2;
  border-radius: 24px;
  background-color: #ffffff;
  width: calc(100% - 40px);
  padding: 5px 20px;
  margin-bottom: 20px;
}

.popupAssistantItemIcon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.popupAssistantItemText {
  letter-spacing: 0.51px;
  color: #000000;
  font-size: 19px;
  font-weight: 500;
}

.popupLeft2 {
  width: 100%;
}

.popupRight2 {
  width: 100%;
  border: 1px solid #a2bdd2;
  border-radius: 12px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.popupAssistantMessageBoxFooter {
  border: 1px solid #a2bdd2;
  border-radius: 12px;
  width: calc(100% - 30px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #f5f8ff;
  padding: 12px 15px;
}

.popupAssistantMessageBoxFooterIconIMG {
  width: 25px;
  height: auto;
  margin-left: 25px;
}

.popupAssistantMessageBoxFooterInput {
  border: none;
  background-color: transparent;
  width: 70%;

  letter-spacing: 0.51px;
  color: #727272;
  font-size: 21px;
  font-weight: 400;
}

.popupAssistantMessageBoxFooterInput:focus {
  outline: none;
}

.popupAssistantMessageBoxHeader {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.popupAssistantMessageBoxHeaderItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;
  margin-top: 15px;
}

.popupAssistantMessageBoxHeaderItemIcon {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}

.popupAssistantMessageBoxHeaderItemTextActive {
  letter-spacing: 0.51px;
  color: #3e92ff;
  font-size: 19px;
  font-weight: 400;
}

.popupAssistantMessageBoxHeaderItemText {
  letter-spacing: 0.51px;
  color: #404040;
  font-size: 19px;
  font-weight: 400;
}

.popupFAQItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 11px;
  border-bottom: 1px solid #a2bdd2;
}

.popupFAQItemIcon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid rgba(162, 189, 210, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popupFAQItemIMG {
  width: 32px;
  height: 32px;
}

.popupFAQItemText {
  letter-spacing: 0.47px;
  color: #425881;
  font-size: 16px;
  font-weight: 500;
  margin-left: 20px;
}

.popupFAQ {
  border: 1px solid #a2bdd2;
  overflow-y: scroll;
  max-height: 500px;
}

.popupFAQ::-webkit-scrollbar {
  width: 0;
}

.popupLeft {
  border: 1px solid #a2bdd2;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 21px 24px;
}

.popupLeft {
  flex: 50%;
}

.popupRight {
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.popupInput {
  width: 80%;
  border: 1px solid #666666;
  border-radius: 18px;
  background-color: #ffffff;
  padding: 10px 25px;
  margin-bottom: 15px;

  letter-spacing: 0.51px;
  color: #212020;
  opacity: 1;
  font-size: 19px;
  font-weight: 500;
  font-family: 'Roboto';
}

.popupInputNoBorder {
  border: none;
  color: #212020;
  opacity: 1;
  font-size: 19px;
  font-weight: 500;
  font-family: 'Roboto';
  width: 100%;
}

.popupInputNoBorder:focus {
  outline: none;
}

.popupInput::placeholder {
  color: #666666;
}

.popupLogin {
  letter-spacing: 0.47px;
  color: #888c8f;
  font-size: 18px;
  font-weight: 400;
}

.popupTerms {
  display: flex;
  gap: 10px;
  margin: 20px 0;
  width: calc(80% + 50px);
}

.popupTermsText {
  letter-spacing: 0.44px;
  color: #666666;
  font-size: 17px;
  font-weight: 400;
}

.popupRightScare {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.popupTermsBox {
  width: 16px;
  height: 16px;
  border-radius: 6px;
  border: 3px solid #666666;
}

.popupTermsBoxActive {
  background-color: green;
}

.popupInputEmail {
  border: 1px solid #3e92ff;
  border-radius: 18px;
  padding: 0 0 0 25px;
  margin-bottom: 15px;
  width: calc(100% - 25px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popupRightScareLeft {
  flex: 75%;
}

.popupLeftIMG {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popupLeftImage {
  width: 226px;
  height: 280px;
}

.popupRightScareRight {
  flex: 25%;
}

.popupInputEmailButton {
  border: 1px solid #3e92ff;
  border-radius: 18px;
  background-color: #3e92ff;
  height: 100%;
  padding: 11px 15px;
  letter-spacing: 0.51px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

.popupRightScareRightItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popupRightScareRightItemIconIMG {
  width: 40px;
  height: 40px;
}

.popupRightScareRightItemText {
  letter-spacing: 0.41px;
  color: #555657;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
}

.popupRightScareLink {
  width: 100%;
  border: 1px solid #3e92ff;
  border-radius: 18px;
  text-align: center;
  margin-bottom: 20px;

  letter-spacing: 0.51px;
  color: #3e92ff;
  font-size: 19px;
  font-weight: 500;
  padding: 10px 0;
}

.popupRightScareLink2 {
  border: 1px solid #666666;
  border-radius: 18px;
  text-align: center;
  margin-bottom: 20px;

  letter-spacing: 0.51px;
  color: #666666;
  opacity: 0.9;
  font-size: 19px;
  font-weight: 500;
  padding: 10px 0;
}

.popupContinueWith {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  border: 1px solid #a2bdd2;
  border-radius: 18px;
  background-color: #f5f8ff;
  padding: 5px 25px;
  margin-bottom: 15px;
  gap: 20px;
}

.popupButton {
  width: calc(80% + 50px);
  text-align: center;
  letter-spacing: 0.57px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
  background-color: #3e92ff;
  box-shadow: 0px 3px 3px #00000029;
  border: 1px solid #3e92ff;
  border-radius: 24px;
  padding: 14px 0;
  margin-bottom: 30px;
}

.popupButtonColor {
  border: 1px solid #ff6617;
  background-color: #ff6617;
}

.popupContinueWithIMG {
  width: 32px;
  height: 32px;
}

.popupContinueWithText {
  letter-spacing: 0.51px;
  color: #666666;
  opacity: 0.9;
  font-size: 19px;
  font-weight: 400;
}

.popupLeftTitle {
  text-align: center;
  letter-spacing: 0.51px;
  color: #212020;
  font-size: 19px;
  font-weight: 500;
}

.popupLeftText {
  text-align: left;
  color: #212020;
  font-size: 17px;
  font-weight: 400;
  padding: 15px 0 25px;
}

.popupCircleItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.popupCircleItemDot {
  width: 12px;
  height: 12px;
  border: 2px solid #a2bdd2;
  background-color: #ffffff;
  border-radius: 50%;
  margin-right: 10px;
}

.popupCircleItemText {
  letter-spacing: 0.47px;
  color: #212020;
  font-size: 18px;
  font-weight: 500;
}

.productHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.productHeaderLeft {
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productHeaderRight {
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.title {
  margin: 9px 0;
}

.productHeaderTitle {
  font-size: 26px;
  font-weight: bold;
  color: #425881;
}

.productHeaderBox {
  padding: 10px;
  width: 120px;
  text-align: center;
  border-radius: 24px;
  border: 1px solid #3e92ff;
  margin-left: 20px;

  letter-spacing: 0.47px;
  color: #727272;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.box {
  box-shadow: 0px 3px 6px #cfe4ff;
  border: 1px solid #a2bdd2;
  border-radius: 12px;
  background-color: #fcfdff;
  width: 100%;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.boxNoEffect {
  width: 100%;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #a2bdd2;
  border-radius: 12px;
  background-color: #ffffff;
}

.boxGrid {
  box-shadow: 0px 3px 6px #cfe4ff;
  border: 1px solid #a2bdd2;
  border-radius: 12px;
  background-color: #fcfdff;
  width: 100%;
  margin-top: 8px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-content: space-around;
}

.boxGrid2 {
  grid-template-columns: repeat(5, 1fr);
}

.gridLine {
  border-right: 1px solid #a2bdd2;
}

.gridLine2 {
  border-right: 1px solid #a2bdd2;
}

.gridLine:nth-child(6n) {
  border-right: none;
}

.gridLine2:nth-child(5n) {
  border-right: none;
}

.boxLeft {
  flex: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #a2bdd2;
}

.boxDraggable {
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxLeftIMG {
  padding: 11px 50px 9px;
  height: 280px;
  pointer-events: none;
}

.boxRight {
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #136bde;
  height: 100%;
  border-radius: 0 12px 12px 0;
}

.boxRightGrid {
  flex: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.boxRightText {
  letter-spacing: 0.76px;
  color: #ffffff;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 40px;
}

.boxItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 14px 0;
}

.boxRightNavBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxRightNavBoxItem {
  width: 12px;
  height: 12px;
  border: 1px solid #f5f8ff;
  background-color: #f5f8ff;
  border-radius: 50%;
  margin: 0 20px;
  cursor: pointer;
}

.boxRightNavBoxItemActive {
  background-color: #ffd60a;
  border: 1px solid #ffd60a;
}

.boxItemIcon {
  background-color: #ffffff;
  border: 1px solid #3e92ff;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.boxItemText {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.41px;
  color: #666666;
  margin-top: 2px;
}

.boxItemImage {
  width: 36px;
  height: 36px;
}

.boxContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
}

.colorBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #113e92;
  margin-top: 15px;
  padding: 10px 0;
  margin-bottom: 10px;

  border: 1px solid #3e92ff;
  border-radius: 12px;
}

.colorBoxTitle {
  letter-spacing: 0.89px;
  color: #5ba2fe;
  font-size: 34px;
  font-weight: bold;
}

.colorBoxText {
  color: white;
  font-size: 24px;
  font-weight: 500;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #a2bdd2;
  margin: 10px 0;
}

.footerTitle {
  font-weight: 500;
  text-align: left;
  width: 100%;
  font-size: 22px;

  letter-spacing: 0px;
  color: #555657;
}
