:root {
  /*COLOR*/
  --color-background: red;
  --color-navbar: red;

  --color-main: red;
  --color-main-second: red;
  --color-white: #ffffff;
  --color-box: red;

  --color-text-main: orange;
  --color-text-second: orange;
  --color-text-title: orange;

  /*SIZE*/
  ---main-padding: 0px;

  ---border-radius: 0px;
  ---border-radius-button: 0px;
  ---border-radius-small: 0px;

  ---navbar-height: 84px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

.main {
  margin-bottom: 200px;
}

.red {
  background-color: red;
}

.componentFirst {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  position: relative;
  overflow: hidden;
}

.componentSecond {
  width: 100%;
  max-width: 1100px;
  display: flex;
  margin: 0 50px;
}

.Box {
  width: 100%;
  border-radius: 12px;
  margin-top: 5px;
}

@media only screen and (max-width: 670px) {
  .componentSecond {
    margin: 0 20px;
  }
  .main {
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 450px) {
  .componentSecond {
    margin: 0 10px;
  }
}
